h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.main{
  height: 30vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: large;
  color: rgb(238, 15, 164);
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 rgb(12, 161, 187),
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}